
.collapse {
    .filter-options {
        display: none;
    }
}

.jankx-filter {
    margin-bottom: 15px;
    .filter-header {
        position: relative;

        .collapse-button {
            position: absolute;
            right: 10px;
            top: 0px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: 0;
            padding: 5px;
        }
    }
}

.arrow {
    &::after {
        content: '';
        display: block;
        border: solid #0a0a0a;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.filter-option {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    input.hidden {
        display: none;
    }
    a {
        display: block;
        width: 100%;

        i.arrow {
            color: #0a0a0a;
        }
    }
    >a {
        position: relative;
        .arrow {
            &::after {
                position: absolute;
                top: 6px;
                right: 0;
            }
        }
    }

    .virtual-checkbox {
        border: 2px solid #dfdfdf;
        border-radius: 2px;
        height: 16px;
        width: 16px;
        display: inline-block;
        position: relative;
        top: 3px;
        color: #aaa;
    }

    .sub-options {
        display: none;
        width: 100%;
        margin-left: 15px;
        &.expanded {
            display: block;
        }

        .filter-option {

        }
    }

    input:checked {
        + .virtual-checkbox {
            &:before {
                content: '';
                display: inline-block;
                transform: rotate(45deg);
                height: calc(75%);
                width: calc(40%);

                border-width: 0 2px 2px 0;
                border-color: inherit;
                border-style: solid;

                position: absolute;
                left: 2.5px;
                bottom: 1.5px;
            }
        }
    }
}
