
.collapse {
    .filter-options {
        display: none;
    }
}

.jankx-filter {
    .filter-header {
        position: relative;

        .collapse-button {
            position: absolute;
            right: 10px;
            top: 0px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: 0;
            padding: 5px;
        }
    }
}


.filter-option {
    display: flex;
    align-items: center;
    input.hidden {
        display: none;
    }
    .virtual-checkbox {
        border: 2px solid #dfdfdf;
        border-radius: 2px;
        height: 16px;
        width: 16px;
        display: inline-block;
        position: relative;
        top: 3px;
        color: #aaa;
    }

    input:checked {
        + .virtual-checkbox {
            &:before {
                content: '✓';
                font-size: 1em;
                font-family: "Gujarati MT", "Devanagari MT", sans-serif;
                position: absolute;
                top: -2px;
                left: 0px;
                color: inherit;
            }
        }
    }
}
