.simple-filter-wrapper {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  justify-content: center;
}
.simple-filter-wrapper .jankx-filter-wrap {
  padding: 0 10px;
}
.simple-filter-wrapper .submit-form button[type=submit] {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.collapse .filter-options {
  display: none;
}

.jankx-filter {
  margin-bottom: 15px;
}
.jankx-filter .filter-header {
  position: relative;
}
.jankx-filter .filter-header .collapse-button {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: 0;
  padding: 5px;
}

.arrow::after {
  content: "";
  display: block;
  border: solid #0a0a0a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.filter-option {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filter-option input.hidden {
  display: none;
}
.filter-option a {
  display: block;
  width: 100%;
}
.filter-option a i.arrow {
  color: #0a0a0a;
}
.filter-option > a {
  position: relative;
}
.filter-option > a .arrow::after {
  position: absolute;
  top: 6px;
  right: 0;
}
.filter-option .virtual-checkbox {
  border: 2px solid #dfdfdf;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
  color: #aaa;
}
.filter-option .sub-options {
  display: none;
  width: 100%;
  margin-left: 15px;
}
.filter-option .sub-options.expanded {
  display: block;
}
.filter-option input:checked + .virtual-checkbox:before {
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  height: 75%;
  width: 40%;
  border-width: 0 2px 2px 0;
  border-color: inherit;
  border-style: solid;
  position: absolute;
  left: 2.5px;
  bottom: 1.5px;
}